<!DOCTYPE html>
<html>
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
    <% include partials/nav.ejs %>
    <br><br>


    <div class="container">

      <div class="text-center">
        <h2>About the Editor</h2>
        <div><img class="aboutImg" src="/img/about2.jpg"/</a></div>
        <h3 class="h3-about">Mandy Tong</h3>
        <div class="about-text"><h5>Originally from Hong Kong, I grew up with a love of sneaker culture, street-style, and fashion.</h5></div>


               <br><br>

        </div>



      </div>

  </body>
</html>
