
<!DOCTYPE html>
<html>
  <head>
    <% include partials/head.ejs %>

  </head>
  <body>
    <% include partials/nav.ejs %>

    <div>
        <img class="img-responsive center-block" src="img/cover.jpg"/>
    </div>

    <div class="container container-fluid">

    <div>
      <h1>Latest Collection <small>A Sneaker Life</small></h1>
    </div>

    <div class="jumbotron">
    <h1>Welcome!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in.</p>

    <!-- START Learn More link -->
<p><a class="btn btn-primary btn-lg" href="/sneakers/new"> <span class="glyphicon" aria-hidden="true"></span>Add your Sneakers!</a></p>
    <!-- END Learn More link -->
  </div>

    <%# for loop%>
    <div class="container">

    <% for (let i = 0; i < allSneakers.length; i++) { %>
  <div class="item">
      <a href="/sneakers/<%= allSneakers[i].id %>"><h2> <%= allSneakers[i].name %> </h2></a>


            <div class='cheeseImg'><a href="/sneakers/<%= allSneakers[i].id %>"><img src= <%= allSneakers[i].image %> alt="image goes here"></a></div>

             <br><br>

      </div>
    <% } %>


    </div>


  </body>
</html>
