
<!DOCTYPE html>
<html>
  <head>
    <% include partials/head.ejs %>

  </head>
  <body>
    <% include partials/nav.ejs %>
    <div>


    <div>
        <img class="img-responsive center-block" src="/img/cover.jpg"/>
    </div>



    <div class="container container-fluid">

    <div>
      <h1>Latest Collection <small>A Sneaker Life</small></h1>
    </div>

    <div class="jumbotron">
    <h1>Are you a sneakerhead?</h1>
    <p>Sneakers get announced constantly. So much so that keeping up with it is like a full-time job. For those who want to keep tabs on what is going on in the community, there is no better place than here.</p>

    <!-- START Learn More link -->
<p><a class="btn btn-primary btn-lg" href="/sneakers/new"> <span class="glyphicon" aria-hidden="true"></span>Add your Sneaker!</a></p>
    <!-- END Learn More link -->
  </div>

    </div>

  </body>
</html>
