<!DOCTYPE html>
<html>
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h2>Create Your Own Sneaker</h2>
      <div class="newInput">

          <form action='/sneakers' method='post'>
            <input class="newInput"type="text" name="name" placeholder="Name" required/>
            <input class="newInput"type="text" name="description" placeholder="Description" required/>
            <input class="newInput"type="number" name="price" placeholder="Price" required/>
            <input class="newInput"type="number" name="quantity" placeholder="Quantity" required/>
            <input class="newInput" type="img" name="image" placeholder="Image Link"/><br/>

              <button type="submit">Create New Sneaker</button>
          </form>
      </div>
  </body>
</html>
