<!DOCTYPE html>
<html>
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h2>Create Your Own Sneaker</h2>
      <div class="input-group">

          <form action='/sneakers' method='post'>
            <input class="newInput"type="text" name="name" placeholder="Tubular Shadow" required/>
            <input class="newInput"type="text" name="brand" placeholder="Adidas" required/>
            <input class="newInput"type="text" name="color" placeholder="Off White" required/>
            <input class="newInput"type="text" name="release_date" placeholder="September 17, 2017" required/>
            <input class="newInput"type="text" name="submitted_by" placeholder="sneakerhead" required/>
            <input class="newInput" type="img" name="image" placeholder="Image URL"/><br/>

              <button type="submit">Create New Sneaker</button>
          </form>
      </div>
  </body>
</html>
